<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <ul>
        <li>
          <a href="/registerStudent"> Register Student</a>
        </li>
        <li>
          <a href="/seeStudent"> See Student List</a>
        </li>
      </ul>
    </div>
  </body>
</html>
